@media screen and (max-width: 1800px) {
    .img-button {
        line-height: 1.5vw;
    }
}
@media screen and (max-width: 1200px) {
    .img-button {
        line-height: 1.5vw;
    }
}

@media screen and (max-width: 510px) {
    .img-button {
        line-height: 2.5vw;
    }
}

/* started iPad pro responsive */
@media screen and (max-width: 1024px) {
    .langChooseResp {
        width: 69.5625rem !important;
    }
    .img-responsive {
        width: 100% !important;
    }
    #blueLine,
    .arrow {
        margin-left: 94% !important;
    }
    .next-step-left,
    .next-step-left-orange {
        width: 90% !important;
    }
}

/* breakponit */

@media screen and (max-width: 899px) {
    .social {
        margin-top: 4.9vw;
    }
    .mainLogoRep img {
        max-width: 500px !important;
    }
    .mainClacNameResp {
        font-size: 3vw !important;
        margin-top: 0rem !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
    .langChooseResp {
        margin-top: -30px !important;
    }
}

@media screen and (min-width: 701px) and (max-width: 820px) {
    .mainLogoRep img {
        max-width: 400px !important;
    }
    .mainClacNameResp {
        margin-top: 0rem !important;
    }
}

/* started iPad responsive  */

@media screen and (max-width: 768px) {
    .mainClacNameResp {
        margin-left: 0px !important;
    }
    .social {
        margin-top: 40px;
    }
    .mainLogoRep img {
        max-width: 30rem !important;
        margin-left: 5rem !important;
    }
    .img-responsive {
        width: 101% !important;
    }

    .img-text {
        font-size: 13px !important;
        margin-left: -25px;
    }
    .arrow {
        margin-left: 94% !important;
    }
    .next-step-left {
        width: 90% !important;
    }
    .responsive {
        margin-left: -77px !important;
    }
    .responsiveAmount {
        margin-right: 65px !important;
    }
    .next-step-left-orange {
        width: 90% !important;
    }
}

/* finished iPad responsive */

/* started breakpoint */

@media screen and (max-width: 699px) {
    .langChooseResp {
        margin-top: -42px !important;
    }
}

.links.respFontSize{
    margin-top: 55px;
}


@media screen and (max-width: 694px) {
    .langChooseResp {
        margin-top: -33px !important;
        margin-right: -20px;
    }
}

@media screen and (max-width: 650px) {
    .img-text{
        margin-left: 10px !important;
    }
}


@media screen and (max-width: 588px) {
    .mainLogoRep img {
        margin-left: -1rem !important;
    }
    .img-fluid.logo {
        margin: 0px !important;
    }
}

@media screen and (max-width: 570px) {

    .row{
        max-width: 570px !important;
    }

    .col-6.col-md-8.responsive{
        margin-right: 0px !important;
    }
    .col-3.col-md-2.respFontSize.responsiveAmount{
        margin-right: 0px !important;
    }

    .col-6.col-md-8.responsive {
        margin-right: 75px !important;
    }
}

/* started google duo responsive */

@media screen and (max-width: 540px) {
    .langChooseResp {
        margin-top: -37px !important;
    }
}

/* started iPhone 12/13 Pro Max responsive */

@media screen and (max-width: 428px) {
    .respFontSize {
        font-size: 2.7vw!important;
    }

    .col-6.col-md-8.font-weight-bold{
        font-size: 12px !important;
    }

    .links.respFontSize{
        margin-top: 44px;
        width: 184px;
    }
    
    .img-fluid.logo{
        margin-left: -50px!important;
        width: 390px;
    }
    .langChooseResp {
        margin-top: -27px !important;
        margin-right: -40px;
    }
    .img-text {
        font-size: 11px !important;
        margin-left: 11px;
        line-height: 0.7rem;
    }
}

/* started iPhone XR responsive */

@media screen and (max-width: 414px) {
    .img-text {
        font-size: 11px !important;
        margin-left: 11px;
        line-height: 0.7rem;
    }
    .langChooseResp {
        margin-top: -5px !important;
    }
    .mainLogoRep img {
        margin-left: -1rem !important;
    }
    .img-fluid.logo {
        margin: 0px !important;
    }

    .d-flex.justify-content-start.navbar-brand.mainLogoRep{
        margin-left: -35px;
    }

    .respFontSize {
        font-size: 2.7vw!important;
    }

    .col-6.col-md-8.font-weight-bold{
        font-size: 12px !important;
    }

    .links.respFontSize{
        margin-top: 44px;
    }

    .d-flex.flex-row.container-fluid.pt-0.pb-mt-0.navbar-brand {
        max-width: 18.75rem !important;
    }
    .d-flex.justify-content-start.navbar-brand.mainLogoRep {
        max-width: 20.625rem !important;
    }
    .img-fluid.logo {
        max-width: 19.6875rem !important;
    }
    .d-flex.flex-row.container-fluid.pt-0.pb-0.mt-0.navbar-brand {
        max-width: 20.625rem !important;
    }
    .navbar.navbar-default.fixed-top {
        max-width: 26rem !important;
    }
    .row{
        max-width: 25rem !important;
    }
}

@media screen and (max-width: 400px) {
    .d-flex.flex-row.container-fluid.pt-0.pb-mt-0.navbar-brand {
        max-width: 18.75rem !important;
    }
    .d-flex.justify-content-start.navbar-brand.mainLogoRep {
        max-width: 20.625rem !important;
    }
    .img-fluid.logo {
        max-width: 19.6875rem !important;
    }
    .d-flex.flex-row.container-fluid.pt-0.pb-0.mt-0.navbar-brand {
        max-width: 20.625rem !important;
    }
    .navbar.navbar-default.fixed-top {
        max-width: 25rem !important;
    }
    .row{
        max-width: 25rem !important;
    }
}

/* started iPhone 12 Pro responsive */

@media screen and (max-width: 390px) {
    .respFontSize {
        font-size: 2.7vw!important;
    }

    .col-6.col-md-8.font-weight-bold{
        font-size: 12px !important;
    }

    .col-6.col-md-8.responsive {
        margin-right: 60px !important;
    }

    .d-flex.justify-content-start.navbar-brand.mainLogoRep{
        margin-left: -35px;
    }
}

/* started iPhone X responsive */

@media screen and (max-width: 375px) {
    .img-text{
        font-size: 9px !important;
    }
}

/* started iPhone 12 mini responsive  */

@media screen and (max-width: 360px) {
    .img-text{
        font-size: 9px !important;
    }
}
