@media screen and (max-width: 1800px) {
    .img-button {
        line-height: 1.5vw;
    }
}
@media screen and (max-width: 1200px) {
    .img-button {
        line-height: 1.5vw;
    }
}

@media screen and (max-width: 510px) {
    .img-button {
        line-height: 2.5vw;
    }
}

/* started iPad pro responsive */
@media screen and (max-width: 1024px) {
    .langChooseResp {
        width: 69.5625rem !important;
    
    }
    .lang.d-flex.justify-content-end.langChooseResp{
        margin-top: -10px !important;
    }
    .img-responsive {
        width: 100% !important;
    }
    #blueLine,
    .arrow {
        margin-left: 94% !important;
    }
    .next-step-left,
    .next-step-left-orange {
        width: 90% !important;
    }
    .row.mb-3 {
        margin-bottom: 1.7rem !important;
    }

    .responsive {
        margin-left: -56px !important;
    }
    .responsiveAmount {
        margin-right: 50px !important;
    }
    .mb-2{
        margin-bottom: 0.9rem !important;
    }
}

@media screen and (min-width: 900px) {
    .links.respFontSize {
        margin-top: -3px !important;
    }
}

/* breakponit */

@media screen and (max-width: 899px) {
    .social {
        margin-top: 4.9vw;
    }
    .mainLogoRep img {
        max-width: 500px !important;
        margin-left: 90px!important;
    }
    .mainClacNameResp {
        font-size: 3vw !important;
        margin-top: 0rem !important;
        margin-left: 60px;
    }

    .langChooseResp{
        margin-top: -57px !important;
    }
}

@media screen and (max-width:820px) {
    .lang.d-flex.justify-content-end.langChooseResp {
        margin-top: -50px !important;
    }
    .img-fluid.logo {
        max-width: 520px !important;
    }
}

@media screen and (max-width:817px) {
    .langChooseResp{
        margin-top: -50px !important;
    }
}

@media screen and (min-width: 867px) and (max-width: 899px) {
    .langChooseResp {
        margin-top: -56px !important;
        margin-right: 100px;
    }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
    .langChooseResp {
        margin-top: -57px !important;
    }
}

@media screen and (min-width: 768px) and (max-width:898px) {
    .img-text{
        font-size: 1.6vw!important;
    }
}

@media screen and (min-width: 701px) and (max-width: 820px) {
    .mainLogoRep img {
        max-width: 400px !important;
    }
    .mainClacNameResp {
        margin-top: 0rem !important;
    }
}

@media screen and (min-width:428px) and (max-width: 862px) {
    .langChooseResp {
        margin-top: -56px !important;
        margin-right: 100px;
    }
}

/* started iPad responsive  */

@media screen and (max-width: 768px) {
    .mainClacNameResp {
        margin-left: 67px !important;
    }
    .social {
        margin-top: 40px;
    }
    .mainLogoRep img {
        max-width: 30rem !important;
        margin-left: 5rem !important;
    }
    .img-responsive {
        width: 101% !important;
    }
    .langChooseResp {
        margin-top: -46px !important;
        margin-right: 46px !important;
    }
    .lang.d-flex.justify-content-end.langChooseResp{
        margin-right: 46px !important;
        margin-top: -46px !important;
    }

    .img-text {
        font-size: 13px !important;
        margin-left: -25px;
    }
    .arrow {
        margin-left: 94% !important;
    }
    .next-step-left {
        width: 90% !important;
    }
    .responsive {
        margin-left: -77px !important;
    }
    .responsiveAmount {
        margin-right: 65px !important;
    }
    .next-step-left-orange {
        width: 90% !important;
    }
    
}

/* finished iPad responsive */

/* started breakpoint */

@media screen and (max-width: 766px) {
    .responsive {
        margin-left: -40px !important;
    }
    .responsiveAmount {
        margin-right: 40px !important;
    }
    .mb-2{
        margin-bottom: 0.9rem !important;
    }
    .row.mb-3 {
        margin-bottom: 1.7rem !important;
    }
}

@media screen and (max-width: 699px) {
    .langChooseResp {
        margin-top: -42px !important;
    }
}

.links.respFontSize{
    margin-top: 55px;
}


@media screen and (max-width: 694px) {
    .langChooseResp {
        margin-top: -42px !important;
        margin-right: -20px;
    }
    
}

@media screen and (max-width:667px) {
    .langChooseResp {
        margin-right: 24px;
    }
    .mainClacNameResp{
        margin-left: 24px !important;
    }
    .mainLogoRep img {
        margin-left: 1rem !important;
    }
}

@media screen and (max-width: 650px) {
    .img-text{
        margin-left: 10px !important;
    }
}


/* breakpoint */

@media screen and (max-width:600px) {
    .langChooseResp{
        margin-top: -38px !important;
    }
    .mainClacNameResp{
        margin-left: 12px !important;
        margin-top: 1rem !important;
    }
    .mainLogoRep img {
        margin-left: 0rem !important;
    }
}

@media screen and (max-width: 588px) {
    .mainLogoRep img {
        margin-left: -1rem !important;
    }
    .img-fluid.logo {
        margin: 0px !important;
    }
}

@media screen and (max-width: 570px) {

    .row{
        max-width: 570px !important;
    }

    .col-3.col-md-2.respFontSize.responsiveAmount{
        margin-right: 0px !important;
    }

    
    .col-6.col-md-8.responsive {
        margin-right: 20px !important;
    }
}

/* started breakpint */


@media screen and (max-width: 550px) {
    .img-text{
        font-size: 9px !important;
    }
    .img-fluid.logo {
        max-width: 22.6875rem !important;
    }

    .langChooseResp {
        margin-top: -36px !important;
    }
    .mainClacNameResp {
        margin-left: -20px !important;
    }

    .links.respFontSize {
        margin-left: -40px;
        margin-top: 50px;
    }

    .navbar.navbar-default.fixed-top {
        max-width: 33.5rem !important;
    }
    .img-text {
        font-size: 9px !important;
        line-height: 10px !important;
        margin-left: 4px !important;
    }
    .col-5{
        max-width: 30.666667%;
    }
    .col-5.col-md-4.d-flex.zeroPaddingResp{
        margin-top: -0.9rem !important;
        margin-left: 17px;
    }

    .calc.form-control.w-60.mt-1.form-control-sm{
        margin-top: -6px !important;
    }

    #sumAmount{
        margin-top: 15px !important;
    }

    #amount {
        height: 31px !important;
    }

    .input-text-right input {
        text-align: center;
    }
    .form-control{
        padding: 0px !important;
    }
    .w-60 {
        width: 60%!important;
    }

    .mt-1 {
        margin-top: 0.4rem!important;
    }

    .arrow{
        height: 30px;
    }

    @media screen and (min-width:503px) and (max-width: 539px) {
        .langChooseResp {
            margin-right: 10px !important;
        }
    }
}

/* started google duo responsive */



@media screen and (min-width: 540px) {
    .langChooseResp {
        margin-top: -37px !important;
        margin-right: 0px !important;
    }

    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: 22px !important;
        margin-top: -35px !important;
    }
}

@media screen and (min-width: 540px) and (max-width:900px) {

    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: 22px !important;
        margin-top: -50px !important;
    }
}


@media screen and (min-width:429px) and (max-width:550px) {
    #income-label{
        margin-right: -54px !important;
    }
}
/* started iPhone 12/13 Pro Max responsive */



@media screen and (max-width: 428px) {
    .respFontSize {
        font-size: 2.7vw!important;
    }

    #income-label{
        margin-right: -50px !important;
    }

    /* .row.col-12.font-weight-bold.respFontSize{
        margin-top: -95px;
    } */
    #amount, .otherAmount, .sumAmount{
        height: 20px !important;
        width: 35px !important;
    }

    .calc.form-control.w-60.mt-1.form-control-sm{
        height: 20px !important;
        width: 35px !important;
    }

    .col-6.col-md-8.font-weight-bold{
        font-size: 12px !important;
    }

    .arrow {
        height: 40px;
    }

    .row.mb-3{
        margin-bottom: 1.7rem !important;
    } 


    .row.mb-2.mt-2{
        margin-top: 16px !important;
    }
    .links.respFontSize{
        margin-top: 44px;
        width: 184px;
    }
    
    .img-fluid.logo{
        margin-left: -27px!important;
        width: 350px;
    }
    .langChooseResp {
        margin-top: -27px !important;
        margin-right: -40px !important;
    }
    .lang.d-flex.justify-content-end.langChooseResp{
        margin-right: -22px !important;
        margin-top: -27px !important;
    }
    .img-text {
        font-size: 8px !important;
        margin-left: 11px;
        line-height: 0.7rem;
    }
    .calc.form-control.input-box.step3, .calc.form-control.input-box.step4, .calc.form-control.input-box.step5{
        max-width: 51px;
        max-height: 36px;
    }

    .form-control.input-box.step6 {
        max-width: 51px;
        max-height: 36px;
    }


    .form-control.input-box{
        max-width: 120px;
        /* margin-left: 25px; */
    }
    #step3_total, #step4_total, #step5_total{
        margin-left: 25px;
    }

    .Tooltip{
            margin: 16px;
    }
}

@media only screen and (max-width: 428px) {
    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: -30px !important;
    }
}


@media only screen and (min-width:414px) and (max-width: 425px) {
    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: 37px !important;
    }
}
/* started iPhone XR responsive */

@media screen and (max-width: 414px) {
    .img-text {
        font-size: 9px !important;
        margin-left: 11px;
        line-height: 0.7rem;
    }
    .langChooseResp {
        margin-top: -25px !important;
    }
    .mainClacNameResp {
        margin-left: -25px !important;
    }
    .mainLogoRep img {
        margin-left: -1rem !important;
    }
    .img-fluid.logo {
        margin: 0px !important;
    }

    .d-flex.justify-content-start.navbar-brand.mainLogoRep{
        margin-left: -35px;
    }

    .respFontSize {
        font-size: 2.7vw!important;
    }

    .col-6.col-md-8.font-weight-bold{
        font-size: 12px !important;
    }

    .links.respFontSize{
        margin-top: 44px;
    }

    .d-flex.flex-row.container-fluid.pt-0.pb-mt-0.navbar-brand {
        max-width: 18.75rem !important;
    }
    .d-flex.justify-content-start.navbar-brand.mainLogoRep {
        max-width: 20.625rem !important;
    }
    .img-fluid.logo {
        max-width: 19.6875rem !important;
    }
    .d-flex.flex-row.container-fluid.pt-0.pb-0.mt-0.navbar-brand {
        max-width: 20.625rem !important;
    }
    .navbar.navbar-default.fixed-top {
        max-width: 26rem !important;
    }
    .row{
        max-width: 25rem !important;
    }

}

@media only screen and (max-width: 414px) {
    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: -24px !important;
    }
}

/* samsung galaxy A51/71 and oneplus nord 2 responsive */
@media screen and (max-width: 412px) {
    .img-fluid.logo{
        max-width: 333px !important;
    }
    .mainLogoRep img {
        max-width: 333px !important;
    }
    #amount {
        margin-top: 22px !important;
    }
}


@media screen and (max-width: 400px) {
    .d-flex.flex-row.container-fluid.pt-0.pb-mt-0.navbar-brand {
        max-width: 18.75rem !important;
    }
    .d-flex.justify-content-start.navbar-brand.mainLogoRep {
        max-width: 20.625rem !important;
    }
    .img-fluid.logo {
        max-width: 19.6875rem !important;
    }
    .d-flex.flex-row.container-fluid.pt-0.pb-0.mt-0.navbar-brand {
        max-width: 20.625rem !important;
    }
    .navbar.navbar-default.fixed-top {
        max-width: 25rem !important;
    }
    .row{
        max-width: 23rem !important;
    }
}

/* started iPhone 12 Pro responsive */

@media screen and (max-width: 390px) {
    .respFontSize {
        font-size: 2.7vw!important;
    }

    

    .col-6.col-md-8.font-weight-bold{
        font-size: 12px !important;
    }

    .col-6.col-md-8.responsive {
        margin-right: 60px !important;
    }

    .d-flex.justify-content-start.navbar-brand.mainLogoRep{
        margin-left: -35px;
    }
}

/* started iPhone X responsive */

@media screen and (max-width: 375px) {
    .img-text{
        font-size: 7px !important;
    }
}

@media only screen and (max-width: 375px) {
    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: -37px !important;
    }
}

/* started iPhone 12 mini responsive  */

@media screen and (max-width: 360px) {
    .img-text{
        font-size: 9px !important;
    }
    .img-fluid.logo {
        max-width: 16.6875rem !important;
    }

    .langChooseResp {
        margin-top: -24px !important;
    }
    .mainClacNameResp {
        margin-left: -38px !important;
    }

    .links.respFontSize {
        margin-left: -40px;
        margin-top: 44px;
    }

    .navbar.navbar-default.fixed-top {
        max-width: 22.5rem !important;
    }
    .img-text {
        font-size: 6px !important;
        line-height: 10px !important;
        margin-left: 4px !important;
    }
    .col-5{
        max-width: 30.666667%;
    }
    .col-5.col-md-4.d-flex.zeroPaddingResp{
        margin-top: -0.9rem !important;
        margin-left: 17px;
    }

    .calc.form-control.w-60.mt-1.form-control-sm{
        margin-top: -6px !important;
    }

    #sumAmount{
        margin-top: 15px !important;
    }

    #amount {
        height: 21px !important;
    }

    .input-text-right input {
        text-align: center;
    }
    .form-control{
        padding: 0px !important;
    }
    .w-60 {
        width: 60%!important;
    }

    .mt-1 {
        margin-top: 0.4rem!important;
    }

    .arrow{
        height: 30px;
    }
}

/* breakpoint */

@media screen and (max-width: 330px) {
    .img-fluid.logo {
        max-width: 15.6875rem !important;
    }

    .langChooseResp {
        margin-top: -21px !important;
    }
    .mainClacNameResp {
        margin-left: -49px !important;
    }

    .links.respFontSize {
        margin-left: -55px;
        margin-top: 44px;
    }

    .navbar.navbar-default.fixed-top {
        max-width: 21rem !important;
    }
    .img-text {
        font-size: 6px !important;
        line-height: 10px !important;
        margin-left: 4px !important;
    }
    .col-5{
        max-width: 30.666667%;
    }
    .col-5.col-md-4.d-flex.zeroPaddingResp{
        margin-top: -0.9rem !important;
        margin-left: 17px;
    }

    .calc.form-control.w-60.mt-1.form-control-sm{
        margin-top: -6px !important;
    }

    #sumAmount{
        margin-top: 15px !important;
    }

    #amount {
        height: 31px !important;
    }

    .input-text-right input {
        text-align: center;
    }
    .form-control{
        padding: 0px !important;
    }
    .w-60 {
        width: 60%!important;
    }

    .mt-1 {
        margin-top: 0.4rem!important;
    }

    .arrow{
        height: 30px;
    }

}


/* started iPhone 5/SE responsive */

@media screen and (max-width: 320px) {
    .img-fluid.logo {
        max-width: 15.6875rem !important;
    }

    .langChooseResp {
        margin-top: -21px !important;
    }
    .mainClacNameResp {
        margin-left: -49px !important;
    }

    .links.respFontSize {
        margin-left: -55px;
        margin-top: 44px;
    }

    .navbar.navbar-default.fixed-top {
        max-width: 20rem !important;
    }

    .img-text {
        font-size: 6px !important;
        line-height: 10px !important;
        margin-left: 4px !important;
    }

    .col-5{
        max-width: 30.666667%;
    }
    .col-5.col-md-4.d-flex.zeroPaddingResp{
        margin-top: -1.9rem !important;
        margin-left: 17px;
    }

    .calc.form-control.w-60.mt-1.form-control-sm{
        margin-top: 4px !important;
    }

    #sumAmount{
        margin-top: 15px !important;
    }

    #amount {
        height: 21px !important;
        margin-top: 27px !important;
    }

    .input-text-right input {
        text-align: center;
    }

    #down-to-other {
        position: unset;
    }
    .form-control{
        padding: 0px !important;
    }
    .w-60 {
        width: 60%!important;
    }

    .mt-1 {
        margin-top: 0.4rem!important;
    }

    .arrow{
        height: 30px;
    }
    #step3_total, #step4_total, #step5_total {
        margin-left: 0px;
    }
    .col-6.col-md-8.responsive {
        margin-right: 29px !important;
    }
    .Tooltip{
        top: -72px;
        left: 30px;
    }
}

/* breakpoint */

@media only screen and (min-width:321px) and (max-width:390px) {
    .col-6.col-md-8.responsive {
        margin-right: 13px !important;
    }
}

@media only screen and (min-width:321px) and (max-width:377px) {
    .Tooltip {
        margin: 7px;
    }
}

@media only screen and (min-width:311px) and (max-width:315px) {
    .col-5.col-md-4.d-flex.zeroPaddingResp {
        margin-left: 0px;
    }
    #amount {
        margin-top: 33px !important;
    }
}

@media screen and (max-width: 310px) {
    .col-5.col-md-4.d-flex.zeroPaddingResp{
        margin-left: 111px;
    }
    #sumAmount {
        margin-top: 18px !important;
    }

    .calc.form-control.w-60.mt-1.form-control-sm {
        margin-top: -3px !important;
    }
    .col-5.col-md-4.d-flex.zeroPaddingResp {
        margin-top: -2.9rem !important;
    }
}


@media only screen and (min-width:281px) and (max-width: 310px) {
    .col-5.col-md-4.d-flex.zeroPaddingResp {
        margin-left: 91px;
    }
}
/* started galaxy fold responsive */

@media screen and (max-width: 280px) {
    #amount, .otherAmount, .sumAmount{
        height: 16px !important;
        width: 28px !important;
    }
    .calc.form-control.w-60.mt-1.form-control-sm{
        height: 16px !important;
        width: 28px !important;
        margin-top: -6px !important;
    }

    .img-text{
        line-height: 6px !important;
        margin-left: 2px !important;
    }
    .col-5.col-md-4.d-flex.zeroPaddingResp {
        margin-left: 92px;
        margin-top: -36px !important;
    }
    #sumAmount {
        margin-top: 10px !important;
    }
    #step3_total, #step4_total, #step5_total {
        margin-left: 0px;
    }
    .col-6.col-md-8.responsive {
        margin-right: 29px !important;
    }
    .Tooltip{
        top: -72px;
        left: 30px;
    }
    .lang.d-flex.justify-content-end.langChooseResp {
        margin-right: -22px !important;
        margin-top: -18px !important;
    }
    .links.respFontSize {
        margin-left: -68px;
        margin-top: 44px;
    }
    .img-fluid.logo {
        max-width: 13.6875rem !important;
    }
}

@media only screen and (min-width:220px) and (max-width:251px) {
    .col-5.col-md-4.d-flex.zeroPaddingResp {
        margin-left: 72px;
        margin-top: -54px !important;
    }
    .img-text{
        font-size: 4px !important;
    }
    #sumAmount {
        margin-top: 28px !important;
    }
    #amount {
        margin-top: 38px !important;
    }
    .calc.form-control.w-60.mt-1.form-control-sm {
        
        margin-top: 13px !important;
    }
}

@media screen and (max-width: 219px) {
    .col-5.col-md-4.d-flex.zeroPaddingResp {
        margin-left: 77px;
        margin-top: -51px !important;
    }
    .img-text{
        font-size: 4px !important;
    }
    #sumAmount {
        margin-top: 28px !important;
    }

    .calc.form-control.w-60.mt-1.form-control-sm {
        margin-top: 9px !important;
    }
    #amount {
        margin-top: 37px !important;
    }
}