@media screen and (max-width: 1800px) {
    .img-button {
        line-height: 1.5vw;
    }
}
@media screen and (max-width: 1200px) {
    .img-button {
        line-height: 1.5vw;
    }
}

@media screen and (max-width: 510px) {
    .img-button {
        line-height: 2.5vw;
    }
}

/* started iPad pro responsive */
@media screen and (max-width: 1024px) {
    .langChooseResp{
        width: 69.5625rem!important;
    }
    .img-responsive {
        width: 100%!important;
    }
    #blueLine, .arrow{
        margin-left: 94%!important;
    }
    .next-step-left, .next-step-left-orange {
        width: 90% !important;
    }
}

/* breakponit */

@media screen and (min-width:769px) and (max-width: 899px) {
    .langChooseResp {
        margin-top: -30px!important;
    }
}

@media screen and (min-width:701px) and (max-width: 820px){
    .mainLogoRep img {
        max-width: 400px!important;
    }
    .mainClacNameResp {
        margin-top: 0rem!important;
    }
}

/* started iPad responsive  */

@media screen and (max-width: 768px) {
    .mainClacNameResp {
        margin-left: 0px !important;
    }
    .social {
        margin-top: 40px;
    }
    .mainLogoRep img {
        max-width: 30rem !important;
        margin-left: 5rem !important;
    }
    .img-responsive {
        width: 101% !important;
    }
    
    .img-text {
        font-size: 13px !important;
        margin-left: -25px;
    }
    .arrow {
        margin-left: 94% !important;
    }
    .next-step-left {
        width: 90% !important;
    }
    .responsive{
        margin-left: -77px!important;
    }
    .responsiveAmount{
        margin-right: 65px!important;
    }
    .next-step-left-orange{
        width: 90%!important;
    }
}

/* finished iPad responsive */

/* started google duo responsive */

@media screen and (max-width: 540px) {
    .langChooseResp {
        margin-top: -37px!important;
    }
}